[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
pylint = "*"
jedi = "*"
pylint-fail-under = "*"
argh = "*"
mypy = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-xdist = "*"
codecov = "*"

[requires]
python_version = "3.9"

[scripts]
"fix:style" = "black -l 100 -S release"
"check:lint" = "pylint --fail-under 9 --rcfile .pylintrc --output-format colorized --verbose release"
"check:types" = "mypy release"
"check:style" = "black -l 100 -S --check release"
"tests" = "pytest --cov release --cov-report term --cov-report html --cov-config .coveragerc --verbose"
"tests:coverage" = "codecov"

[pipenv]
allow_prereleases = true
